@font-face {
    font-family: PhilosopherReg;
    src: url(Fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: PhilosopherBold;
    src: url(Fonts/Philosopher-Bold.ttf);
}

h1{
    font-family: PhilosopherBold;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}

body{
    font-family: PhilosopherReg;
}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
}

div {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.leftDiv
{
  height: 395px;
  border-right-style: solid;
  border-right-width: 2px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  background: #19815D;
}

.topDiv
{
    background: #7C807D;
}

.rightDiv
{
    background: #25AB7C;
}

.bottomDiv
{
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 10px;
  background: #7C807D;
  text-align:center;
}

.title{
  font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

.title{
font-weight: bold;
}

.buttons{
    font-family: PhilosopherReg;
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover{
    background-color: #008CBA;
    color: white;
}

input[type=text]{
    width: 20%;
    padding: 14px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    font-family: PhilosopherReg;
    font-size: 16px;
}
