@font-face {
    font-family: PhilosopherReg;
    src: url(Fonts/Philosopher-Regular.ttf);
}

@font-face {
    font-family: PhilosopherBold;
    src: url(Fonts/Philosopher-Bold.ttf);
}

h1{
    font-family: PhilosopherBold;
    text-align: center;
    font-size: 50px;
    padding-top: 25px;
}

body{
    font-family: PhilosopherReg;
}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
}

div {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.leftDiv
{
  height: 500px;
  border-right-style: solid;
  border-right-width: 2px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  background: #19815D;
}

.topDiv
{
    background: #7C807D;
}

.rightDiv
{
    background: #25AB7C;
}

.bottomDiv
{
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 10px;
  background: #7C807D;
  text-align:center;
}

.title{
  font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

.title{
font-weight: bold;
}

.buttons{
    font-family: PhilosopherReg;
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttons:hover{
    background-color: #008CBA;
    color: white;
}

input[type=text]{
    width: 20%;
    padding: 14px 20px;
    margin: 8px 2px;
    box-sizing: border-box;
    font-family: PhilosopherReg;
    font-size: 16px;
}

#error-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#error-modal {
  position: fixed;
  padding-top: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 300px;
  min-width: 150px;
  min-height: 150px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 20px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}
