<div class="topDiv">
<h1>Aces Up</h1>
</div>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<div class="leftDiv">
    <button id="instructionButton" class="buttons">Instructions</button>
    <p id="instButt"></p>
    <img src="/assets/css/svg-cards/back@2x.png" width="100px" height="150px"/>
    <br>
    <button id="dealButton" class="buttons">Deal Cards</button>
</div>

<div class="instruction-backdrop" class="hiddenInstruct"></div>
<div id="instruction-modal" class="hiddenInstruct">
    <div class="instruction-dialog">
        <div class="instruction-header">
            <h3>INSTRUCTIONS</h3>
            <button type="button" class="instruction-close-button">&times;</button>
        </div>
        <div class="instruction-body">
            <p>
              -Aces Up is a solitaire game<br>-The objective of this game is to remove <br> all card from the table<br>-You can remove card only if other cards of the same suit and of higher <br> value exist<br>-You can move cards to empty slots from the remaining piles
            </p>
        </div>
    </div>
</div>

<script>
  var instructionButton = document.getElementById('instructionButton');
  var hideInstructions = document.getElementsByClassName('hiddenInstruct');

  instructionButton.addEventListener('click', function(){
    for(var k = 0; k<hideInstructions.length; k +=1){
      hideInstructions[k].style.display = 'block';

    }
  });

  var closeButton = document.querySelector('button.instruction-close-button');
  closeButton.addEventListener('click', function(){
    for(var l = 0; l<hideInstructions.length; l+=1){
      hideInstructions[l].style.display = 'none';
    }
  });
</script>    
    
<div class="rightDiv">
<table>
    <tr class="title">
        <BR> <button id="Remove1" class="buttonsR"> Remove</button><button id="Remove2" class="buttonsR">Remove</button><button id="Remove3" class="buttonsR">Remove</button><button id="Remove4" class="buttonsR">Remove</button>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>
</div>

<div class="bottomDiv">
    <BR>
    <input type="text" id="from_col" value="From Column Number"  /><input type="text" id="to_col" value="To Column Number"  /> <button id="moveButton" class="buttons">Move</button>
</div>

<script>

var game;

function display(game) {
console.log(game);
var card;

    function buildCard()
    {
        if (card.value == 11)
            card.value = "J";
        else if (card.value == 12)
            card.value = "Q";
        else if (card.value == 13)
            card.value = "K";
        else if (card.value == 14)
            card.value = "A";
        else {}

        if (card.suit == "Hearts")
            card.suit = "<span class=\"cardColor\">\u2665</span>";
        else if (card.suit == "Diamonds")
            card.suit = "<span class=\"cardColor\">\u2666</span>";
        else if (card.suit == "Spades")
            card.suit = "\u2660";
        else if (card.suit == "Clubs")
            card.suit = "\u2663";
        else {}
    }

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
        card = {value : val.value, suit : val.suit};
        buildCard();
        $( '#c0 .l'+key ).html(card.value + card.suit);
    });

    $.each(game.cols[1], function( key, val ) {
        card = {value : val.value, suit : val.suit};
        buildCard();
        $( '#c1 .l'+key ).html(card.value + card.suit);
    });

    $.each(game.cols[2], function( key, val ) {
        card = {value : val.value, suit : val.suit};
        buildCard();
        $( '#c2 .l'+key ).html(card.value + card.suit);
    });

    $.each(game.cols[3], function( key, val ) {
        card = {value : val.value, suit : val.suit};
        buildCard();
        $( '#c3 .l'+key ).html(card.value + card.suit);
    });
}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

</script>

<div class = error-backdrop" class="hidden"></div>
<div id="error-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>ERROR</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <p class="model-text">
                You can only move to a column if the column is empty
            </p>
        </div>


    </div>
</div>


<script>

var moveButton = document.getElementById('moveButton');
var hiddenStuff = document.getElementsByClassName('hidden');

moveButton.addEventListener('click', function(){

<!--if the column is empty -->
for(var i = 0; i<hiddenStuff.length; i +=1){
hiddenStuff[i].style.display = 'block';
}
});

var closeButton = document.querySelector('button.modal-close-button');

closeButton.addEventListener('click', function(){
for(var j = 0; j<hiddenStuff.length; j+=1){
hiddenStuff[j].style.display = 'none';
}
});

</script>


</body>
</html>
