<html>
<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<div class="topDiv">

    <h1>Aces Up</h1>

</div>

<div class="container">

    <div class="leftDiv">

        <button id="instructionButton" class="buttons">Instructions</button>
        <p id="instButt"></p>
        <img class= "cardpic" src="/assets/css/svg-cards/playing-card2.jpg" width="100px" height="150px"/>
        <br>
        <button id="dealButton" class="buttons">Deal Cards</button>

    </div>
    <div class="middleDiv">

        <tr class="title">
            <button id="Remove1" class="buttonsR">Remove</button>
            <button id="Remove2" class="buttonsR">Remove</button>
            <button id="Remove3" class="buttonsR">Remove</button>
            <button id="Remove4" class="buttonsR">Remove</button>
        </tr>

        <table id="mainTable" align="center">
            <tr><td class="columnOfCards" id="c0">
                <table>
                    <tr><td class="cardLocation l0"></td></tr>
                    <tr><td class="cardLocation l1"></td></tr>
                    <tr><td class="cardLocation l2"></td></tr>
                    <tr><td class="cardLocation l3"></td></tr>
                    <tr><td class="cardLocation l4"></td></tr>
                    <tr><td class="cardLocation l5"></td></tr>
                    <tr><td class="cardLocation l6"></td></tr>
                    <tr><td class="cardLocation l7"></td></tr>
                    <tr><td class="cardLocation l8"></td></tr>
                    <tr><td class="cardLocation l9"></td></tr>
                    <tr><td class="cardLocation l10"></td></tr>
                    <tr><td class="cardLocation l11"></td></tr>
                    <tr><td class="cardLocation l12"></td></tr>
                    <tr><td class="cardLocation l13"></td></tr>
                </table>
            </td>
                <td class="columnOfCards" id="c1">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                        <tr><td class="cardLocation l11"></td></tr>
                        <tr><td class="cardLocation l12"></td></tr>
                        <tr><td class="cardLocation l13"></td></tr>
                    </table>
                </td>
                <td class="columnOfCards" id="c2">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                        <tr><td class="cardLocation l11"></td></tr>
                        <tr><td class="cardLocation l12"></td></tr>
                        <tr><td class="cardLocation l13"></td></tr>
                    </table>
                </td>
                <td class="columnOfCards" id="c3">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                        <tr><td class="cardLocation l11"></td></tr>
                        <tr><td class="cardLocation l12"></td></tr>
                        <tr><td class="cardLocation l13"></td></tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

    <div class="rightDiv">

        <input type="text" id="from_col" value="From"  /> <br>
        <input type="text" id="to_col" value="To"  /> <br>
        <button id="moveButton" class="buttons">Move</button>

    </div>

</div>


<div class="game-backdrop" class="hiddenGame"></div>
<div id="game-modal" class="hiddenGame">
    <div class="game-dialog">
        <div class="game-header">
            <h3>WELCOME TO ACES UP</h3>
        </div>
        <div class="game-body">
            <p>
                Which version of the game would you like to play?
             </p>
        </div>
        <div class="game-footer">
            <button type="button" id="EnglishButton" class="buttons">English</button>
            <button type="button" id="SpanishButton" class="buttons">Español</button>
        </div>
    </div>
</div>



<script>
  var EnglishButton = document.getElementById('EnglishButton');
  var SpanishButton = document.getElementById('SpanishButton');
  var hideGame = document.getElementsByClassName('hiddenGame');

  EnglishButton.addEventListener('click', function(){
    for(var k = 0; k<hideGame.length; k +=1){
      hideGame[k].style.display = 'none';

    }
   });

    SpanishButton.addEventListener('click', function(){
    for(var k = 0; k<hideGame.length; k +=1){
      hideGame[k].style.display = 'none';

    }
  });

</script>


<script>
var isSpanish;
var game;
function display(game) {
console.log(game);

var card;
    function buildCard()
    {
        if (card.value == 11)
            card.value = "J";
        else if (card.value == 12)
            card.value = "Q";
        else if (card.value == 13)
            card.value = "K";
        else if (card.value == 14)
            card.value = "A";
        else {}
        if (card.suit == "Hearts")
            card.suit = "<span class=\"cardColor\">\u2665</span>";
        else if (card.suit == "Diamonds")
            card.suit = "<span class=\"cardColor\">\u2666</span>";
        else if (card.suit == "Spades")
            card.suit = "\u2660";
        else if (card.suit == "Clubs")
            card.suit = "\u2663";
        else {}
    }

        function buildSpanishCard()
    {
        if (card.value == 11)
            card.value = "J";
        else if (card.value == 12)
            card.value = "Q";
        else if (card.value == 13)
            card.value = "K";
        else if (card.value == 14)
            card.value = "A";
        else {}
        if (card.suit == "Bastos")
            card.suit = "<span class=\"cardColor\">\u2663</span>";
        else if (card.suit == "Oros")
            card.suit = "<span class=\"cardColor\">\u20BF</span>";
        else if (card.suit == "Copas")
            card.suit = "\u26FE";
        else if (card.suit == "Espadas")
            card.suit = "\u2694";
        else if (card.suit == "Comodines")
            card.suit = "\u1F0DF";
        else {}
    }


$( '.columnOfCards .cardLocation' ).html("");
     $.each(game.columns[0].spanishCards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildSpanishCard();
            $( '#c0 .l'+key ).html(card.value + card.suit);
        });

     $.each(game.columns[1].spanishCards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildSpanishCard();
            $( '#c1 .l'+key ).html(card.value + card.suit);
        });

     $.each(game.columns[2].spanishCards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildSpanishCard();
            $( '#c2 .l'+key ).html(card.value + card.suit);
        });

     $.each(game.columns[3].spanishCards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildSpanishCard();
            $( '#c3 .l'+key ).html(card.value + card.suit);
        });
/*
     $.each(game.columns[0].cards, function( key, val ) {
        card = {value : val.value, suit : val.suit};
        buildCard();
        $( '#c0 .l'+key ).html(card.value + card.suit);
     });

     $.each(game.columns[1].cards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildCard();
            $( '#c1 .l'+key ).html(card.value + card.suit);
        });

     $.each(game.columns[2].cards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildCard();
            $( '#c2 .l'+key ).html(card.value + card.suit);
        });

     $.each(game.columns[3].cards, function( key, val ) {
            card = {value : val.value, suit : val.suit};
            buildCard();
            $( '#c3 .l'+key ).html(card.value + card.suit);
        });
 */
}
$.getJSON("http://localhost:8080/game", function( data ) {
game = data;
display(game);
});

$("#EnglishButton").click(function(){
    $.ajax({
        type: "POST",
        url: "/gameGet",
        data: JSON.stringify(game),
        success: function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);
        },
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#SpanishButton").click(function(){
    $.ajax({
        type: "POST",
        url: "/gameGet_Spanish",
        data: JSON.stringify(game),
        success: function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);
        },
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$("#dealButton").click(function(){
    $.ajax({
      type: "POST",
      url: "/dealGame",
      data: JSON.stringify(game),
      success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(game);},
      contentType:"application/json; charset=utf-8",
      dataType:"json",
    });
});
function removeCard(colNumber){
    $.ajax({
    type: "POST",
    url: "/removeCard/"+colNumber,
    data: JSON.stringify(game),
    success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
    game = data;
    display(game);},
    contentType:"application/json; charset=utf-8",
    dataType:"json",
    });
}
$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});
$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(game);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});
</script>


<div class="instruction-backdrop" class="hiddenInstruct"></div>
<div id="instruction-modal" class="hiddenInstruct">
    <div class="instruction-dialog">
        <div class="instruction-header">
            <h3>INSTRUCTIONS</h3>
            <button type="button" class="instruction-close-button">&times;</button>
        </div>
        <div class="instruction-body">
            <p>
               -The objective of this game is to remove <br> all card from the table<br>-You can remove card only if other cards of the same suit and of higher <br> value exist<br>-You can move cards to empty slots from the remaining piles <br>
-El objetivo de este juego es eliminar todas <br> las cartas de la mesa <br>-Puedes eliminar cartas solo si existen <br>otras cartas del mismo palo, y de mayor valor <br> -Puedes mover las cartas a las ranuras<br> vacías de las pilas restantes <br> -Las cartas de Joker se consideran comodines, <br> lo que significa que combinan con <br> cualquier palo y actúan como la carta más valorada <br>para ese palo. Esto significa que puedes <br> eliminar cualquier carta de la parte superior de una pila. <br> -Una vez que la carta de Joker <br> ha sido combinada con otra carta en el juego, <br> ambas cartas se eliminan del juego.

            </p>
        </div>
    </div>
</div>

<script>
  var instructionButton = document.getElementById('instructionButton');
  var hideInstructions = document.getElementsByClassName('hiddenInstruct');

  instructionButton.addEventListener('click', function(){
    for(var k = 0; k<hideInstructions.length; k +=1){
      hideInstructions[k].style.display = 'block';

    }
  });

  var closeButton = document.querySelector('button.instruction-close-button');
  closeButton.addEventListener('click', function(){
    for(var l = 0; l<hideInstructions.length; l+=1){
      hideInstructions[l].style.display = 'none';
    }
  });
</script>


</body>
</html>
